 $main-color: #21882d;
 $hover-color: #45ba53;
 $light-gray:rgb(222, 222, 222);
 $dark-gray: rgb(150, 150, 150);
 $white: rgb(250, 250, 250);
 $box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 $blue: rgb(39, 86, 218);
 $dark-blue:#223956;


 $body: #ff533e;
 $mouth: #000000;
 $feather: #939393;
 $beak-top: #e9581a;
 $beak-down: #aa4c21;
 $leg: #00adef;
 $body-color: #e3edf7;